{% extends 'base.html.twig' %}

{% block titrePage %}Liste des formations{% endblock %}

{% block contenuPage %}

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for formation in formations %}
          {# on rajoute une ligne pour chaque formation #}
          <tr onclick="window.location='{{path('pro_stages_formation', {'id' : formation.id })}}';">
            <th scope="row">{{loop.index}}</th>
            <td> {{formation.titre}} </td>
            <td>{{formation.description}}</td>
          </tr>

  {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
